@model EventsListViewModel

<h1>@Model.CurrentCategory</h1>
<!--razor. Points to the view which this model is bound to i.e Events -->
@foreach (var events in Model.Events)
{
    @Html.Partial("EventOverviewSummary", events)
}

