<h2>Contact What's On</h2>
<p>If you have any questions, please don't hesitate to get in touch. Click below to send us an email.</p>
<!--Build the project before adding. Use the email TagHelper here in the View code(just email).
    Use 2 AT symbols to distinguish that its not a razor tag. Specify the content parameter to be Contact US.-->

<email address="info@@WhatsOn.com" content="Contact us"></email>